body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../media/images/login.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  margin-top: 60px;
  background-color: rgba(190, 104, 43, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 100%;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #fff;
}

.login-container label {
  display: block;
  margin: 10px 0 5px;
  color: #fff;
}

.login-container input[type="email"],
.login-container input[type="password"],
.login-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-container input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.login-container input[type="submit"]:hover {
  background-color: #555;
}

.login-container p {
  margin-top: 10px;
  color: #fff;
}

.login-container a {
  color: #fff;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}
