* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #E2E2E2, #F5F5F5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
    overflow: auto;
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

legend {
    font-size: 22px;
    color: #036400;
    text-align: left;
}

fieldset {
    border: 2px solid #E0E0E0;
    border-radius: 10px;
    padding: 15px;
    background: rgba(240, 240, 240, 0.8);
}

table {
    width: 100%;
    border-spacing: 10px;
}

td{
    padding: 8px;
    font-size: 14px;
    color: #555;
}

th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

.text {
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    font-size: 14px;
    background-color: #f9f9f9;
    color: #333;
}

input:focus, textarea:focus, select:focus {
    border-color: #a5a5a5;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

textarea {
    resize: none;
    height: 80px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 45%;
}

input[type="reset"] {
    background-color: #dd0b0b;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 45%;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #32bbc0;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    display: block;
    padding: 8px;
}

.logout{
    background-color: #4CAF50;
    font-size: 20px; 
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.logout:hover {

    background-color: #e65252b9;
}

.returnlog{
    background-color: #4CAF50;
    font-size: 20px;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.returnlog:hover {

    background-color: #054e08;
}

a:hover {
    text-decoration: underline;
    color: #fff;
    background-color: #45a049;
    border-radius: 8px;
    padding: 8px;
}
p{
    text-align: center; 
}

h3 {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

select {
    background-color: #fff;
}

.fixed-positioned {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

form div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}



.error {
    font-size: 12px;
    margin-top: 2px;
    color: rgb(189, 36, 36);
}


#pr {
    color: #128816;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    display: block;
    padding: 8px;
}

#pr:hover {
    color: #fff;
    background-color: #054e08;
    border-radius: 8px;
    padding: 8px;
}
